<a href="https://colab.research.google.com/github/pammyyAnn/ADV-FINALS_1/blob/main/ADV_FINALS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
myName = "CHIMMYYY" 
for x in myName: 
   print(x)

C
H
I
M
M
Y
Y
Y

In [3]:
for x in range(6):
 print(x)
else:
 print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [4]:
thislist = ["PAM", "ANN", "LOU"]
for x in thislist:
      print(x)

PAM
ANN
LOU

In [6]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
dataAnalyticsTools = ['Python', 'R', 'SQL', 'Git'] 
for i in range(len(dataAnalyticsTools)): 
 print(dataAnalyticsTools [ i ])

Python
R
SQL
Git